<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="<%= recipe["image_url"] %>" class="card-img-top" alt="<%= recipe["title"] %>">
        <div class="card-body">
          <h5 class="card-title"><a href="/client/recipes/<%= recipe["id"] %>"><%= recipe["title"] %></a></h5>
          <p class="card-text">Prep Time: <%= recipe["formatted"]["prep_time"] %></p>
          <p class="card-text">Ingredients:</p>
          <ul>
            <% recipe["formatted"]["ingredients"].each do |ingredient| %>
              <li><%= ingredient %></li>
            <% end %>
          </ul>
        </div>
      </div> 
    </div> 
  <% end %>
</div>
